/* restart */
html{
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
p{
  line-height: 1.6;
}
p,a,li{
  font-size: 1.8rem;
}
ul{
  list-style: none;
}
img{
  display: block;
}
main{
  background-color: #E0EBFD;
}
.wrapper{
  overflow: hidden;
}
/* restart end */
.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #0082F3;
  padding: 15px 20px;
  font-size: 2rem;
}
.top-bar-logo-container{
  display: flex;
}
.top-bar-logo{
  width: 60px;
}
.logo-text{
  font-size: 2rem;
  line-height: 2;
}
.main-nav{
  display: none;
}
@media (min-width: 640px){
  .btn-nav{
    display: none;
  }
  .main-nav{
    display: block;
  }
  .main-nav > ul{
    display: flex;
  }
  .main-nav > ul > li{ 
    margin-left: 25px;
  }
}
@media (min-width: 1280px){
  .top-bar{
    padding: 15px 120px;
  }
}
/* hero start */

.hero-img-container{
  height: 50vh;
  background-image: url('../img/Bez\ tytułuyyyy.png');
  background-size: cover;
  background-position: center;
}
.hero-text-container{
  height: calc( 50vh - 70px - 40px);
  padding: 20px 20px;
  background: #0e69b9;
  color: #fff;
}

.hero-header{
  text-transform: uppercase;
}
.hero-text{
  margin-top: 10px;
}
.hero-phone{
  display: inline-block;
  padding: 10px 15px;
  margin:20px 0 20px;
  border: 2px solid #fff ;
}
.btn{
  display: block;
  padding: 10px 25px;
  margin: 10px 0 0 0;
  width: 150px;
  text-align: center;
  background-color: #fff;
  color: #0e69b9;
  font-weight: bold;
  text-transform: uppercase;
}
/* media */
@media (min-width: 640px){
  .hero{
    display: flex;
  }
  .hero-text-container{
    padding: 20px 20px 0 20px;
    height: calc( 100vh - 70px - 20px);
    flex-basis: 50%;
  }
  .hero-img-container{
    height: calc( 100vh - 70px);
    order: 1;
    flex-basis: 60%;

  }
}
@media (min-width: 768px){

  .hero-text-container{
    height: 400px;
  }
  .hero-img-container{
    height: 420px;
  }
}
@media (min-width: 1280px){

  .hero-text-container{
    padding: 80px 20px 0 120px;
    height: 340px;
  }
  .hero-header{
    font-size: 4rem;
  }
}
/* hero end */

/* services start */


.services-header{
  padding: 70px 20px;
}

.secondary-header{
  margin-bottom: 10px;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #0e69b9;
}
.services-main-text{
  color: #444;
}
.services-box{
  background-color: #fff;
}
.services-box:nth-child(even){
  background: #0e69b9;
  color: #fff;
}

.services-img{
  width: 100%;
}
.services-box-text{
  padding: 20px;
}

.services-box-header{
  padding: 0 0 10px;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.services-list{
  padding:0 10px;
}
.services-list-item{
  font-size: 1.6rem;
  margin: 10px;
}
@media (min-width:640px){
.services-box{
  display: flex;
}
.services-box:nth-child(even) > .services-box-text{
  order: -1;
}
.services-box-img{
  position: relative;
  width: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.services-img{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.services-box-text{
  width: 50%;
}
}
@media (min-width: 1280px){
  .services-header{
    padding: 70px 120px;
  }
  .services-box-text{
    padding: 70px 120px 70px 20px;
  }
  .services-box-header{
    font-size: 3rem;
  }
  .services-box:nth-child(even) > .services-box-text{
    padding:70px 20px 70px 120px; 
  }
  .secondary-header{
    font-size: 3.8rem;
  }
}
/* services end */
/* about-us start */
.about-us-header{
  padding: 70px 20px;
}
.about-us-movie{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.about-us-text{
  color: #444;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1280px){
  .about-us-header{
    padding: 70px 120px;
  }
}
/* about-us end */

/* contact start */
.contact{
  background: #0E69B9;
  padding: 50px 0;
}
.contact-logo{
  text-align: center;
}
.contact-logo-img{
  width: 250px;
  margin: 0 auto;
}

.company-name{
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-box{
  width: 80%;
  margin: 25px auto;
  text-align: center;
}
.contact-header{
  padding: 10px;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
.contact-name{
  margin-bottom: 5px;
  color: #fff;
}
.contact-item{
  margin-bottom: 10px;
  color: #fff;
}
.contact-item > p {
  display: inline-block;
}
.contact-item > a {
display: inline-block;
margin-left: 4px;
}
@media (min-width:667px){
  .contact{
    display: flex;
    align-items: center;
  }
  .contact-logo{
    width: 50%;
  }
  .contact-box{
    padding: 25px 0;
    margin: 0;
    width: 50%;
    background: #0082F3;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .company-name{
    line-height: 1;
    margin-top: 10px;
  }
}
/* contact end */

/* footer */
footer{
  padding: 15px;
  background: #0082F3;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}